body {}

.h {
    background-color: #F7F4ED;
}

.p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
}

.p2 {
    display: block;

}

.b {
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 150px;
    height: 38px;
}

.div2 {
    display: flex;
    gap: 250px;
    padding-top: 100px;


}

.img {
    width: 260px;
    height: 400px;


}

.child3 {
    margin-left: 400px;
    width: 500px;
    height: 400px;
    margin-bottom: 100px;
}

.list {
    list-style: none;
}

.a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.list {
    display: flex;
    justify-content: center;
    gap: 20px;

}